{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
  <div class="posts-grid">
    {% for post in posts %}
      <article class="post-card">
        <h2 class="post-title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <div class="post-meta">
          <time datetime="{{ post.date }}">{{ post.date }}</time>
          {% if post.author %}
            <span class="post-author">by {{ post.author }}</span>
          {% endif %}
          {% if post.readingTime %}
            <span class="post-reading-time">{{ post.readingTime }} min read</span>
          {% endif %}
        </div>
        {% if post.excerpt %}
          <div class="post-excerpt">
            <p>{{ post.excerpt }}</p>
          </div>
        {% endif %}
        <a href="{{ post.url }}" class="read-more">Read more</a>
      </article>
    {% endfor %}
  </div>
  
  {% if pagination %}
    <div class="pagination">
      {% if pagination.previousPage %}
        <a href="{{ pagination.previousPage }}" class="pagination-prev">&larr; Previous</a>
      {% endif %}
      
      {% if pagination.nextPage %}
        <a href="{{ pagination.nextPage }}" class="pagination-next">Next &rarr;</a>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endblock %} 